:root {
  --asqueel-oxblood: #571F2B;
  --asqueel-wine: #79323D;
  --asqueel-rust: #AD5036;
  --asqueel-copper: #C78249;
  --asqueel-ochre: #D5AE65;
  --asqueel-parchment: #F5EBDD;
  --asqueel-ink: #2C2223;
}
